.filter-container {
  margin: 100px; 
  max-width: 600px;
  display: inline;
  justify-content: space-between;
  align-items: center;
}

.filter-input {
  width: 50%;
  height:3cm;
}

.table-container {
  margin: 10px 10px 10px 10px;
  width: 96%;
  padding: 20px;
  background-color: #f0e9e9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
}

.hover-row:hover {
  background-color:rgb(214, 193, 193);
  cursor: pointer;
}

.subject-link {
  color: #1976d2;
  text-decoration: underline;
  cursor: pointer;
}

.success {
  color: green;
  font-weight: bold;
}

.failure {
  color: red;
  font-weight: bold;
}
.custom-dialog-container {
  border-radius: 10px;       /* Rounded corners */
  background-color: #472222;    /* Clean white background */
  padding: 0;                /* We'll manage padding in .dialog-content */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.header{
  top:0;
  left:0;
  background-color: rgb(220, 223, 235);
  margin:10px;
  height:2cm;
  padding:20px;
}
mat-form-field{
  width:500px;
}